<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dargon.PortableObjects" version="0.2.0" targetFramework="net45" />
  <package id="Dargon.Ryu.Api" version="0.3.0" targetFramework="net45" />
  <package id="Dargon.Services.Api" version="1.0.0" targetFramework="net45" />
  <package id="FluentValidation" version="3.4.0.0" targetFramework="net45" />
  <package id="ItzWarty.Commons" version="0.1.1" targetFramework="net45" />
  <package id="ItzWarty.Proxies.Api" version="0.1.0" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Validation.FluentValidation" version="1.2.0" targetFramework="net45" />
</packages>